:root {
	/* Theme Color */
	--primary: #682bd7;
	--subFont: #4e4e4e;
}

@font-face {
	font-family: Roboto;
	src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Inter;
	src: url("./assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

body {
	padding: 0;
	margin: 0;
}

.title {
	font-family: Inter;
	font-size: 31px;
	font-weight: 600;
}

.icon:hover,
button:hover,
a:hover {
	cursor: pointer;
}
